.header__email{
    margin:0 24px 0 0;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-self: center;
}